/* Resets */

* {

  margin: 0;
  padding: 0;
  box-sizing: border-box;

}


body {

  font-family: "Noto Sans", sans-serif;

}


img {

  width: 100%;

}


span {

  display: block;

}


/* Global */

.card_image {

  width: 400px;

}